<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haue.edu.cn.dao.ExamInfoMapper" >
  <resultMap id="BaseResultMap" type="haue.edu.cn.model.ExamInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="sdate" property="sdate" jdbcType="VARCHAR" />
    <result column="edate" property="edate" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <!-- 添加的关联关系 -->
     <association property="paper" javaType="haue.edu.cn.model.Paper">
     <id column="paperid" property="id" jdbcType="INTEGER" />
    <result column="paper_name" property="paperName" jdbcType="VARCHAR" />
    </association>
     <association property="user" javaType="haue.edu.cn.model.Student">
     <id column="userid" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, pid, sdate, edate, ip, score, status, remark
  </sql>
    <sql id="Base_Column_List_Alias" >
    a.id, a.uid, a.pid, a.sdate, a.edate, a.ip, a.score, a.status, a.remark
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap"
		parameterType="haue.edu.cn.model.ExamInfo">
		select
		<include refid="Base_Column_List_Alias" />
		,b.id as userid,b.username ,c.id as paperid, c.paper_name

		from oe_exam_info a , oe_user b, oe_paper c
		<where>
		And a.uid=b.id
		AND a.pid=c.id
		 	<if test="user!=null and user.username !=null">
			and b.username like '%' #{user.username,jdbcType=VARCHAR} '%'
		</if>
	
		<if test="paper!=null and paper.paperName !=null">
			and c.paper_name like '%' #{paper.paperName,jdbcType=VARCHAR} '%'
		</if>
		
		</where>
</select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oe_exam_info
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oe_exam_info
  </select>
     <select id="selectUserScore" resultMap="BaseResultMap"  parameterType="haue.edu.cn.model.ScoreCondition" >
    select 
    <include refid="Base_Column_List_Alias" />,
    b.username , c.paper_name
    
    from oe_exam_info a , oe_user b, oe_paper c
    
    where a.uid=b.id AND a.pid=c.id
   
        <if test="uid !=null">
      and uid = #{uid,jdbcType=INTEGER}
    </if>
	<if test="pid !=null">
	  and pid = #{pid,jdbcType=INTEGER}
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oe_exam_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="haue.edu.cn.model.ExamInfo" >
    insert into oe_exam_info (id, uid, pid, 
      sdate, edate, ip, 
      score, status, remark
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{sdate,jdbcType=VARCHAR}, #{edate,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="haue.edu.cn.model.ExamInfo" >
    insert into oe_exam_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="sdate != null" >
        sdate,
      </if>
      <if test="edate != null" >
        edate,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="sdate != null" >
        #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="edate != null" >
        #{edate,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="haue.edu.cn.model.ExamInfo" >
    update oe_exam_info
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="sdate != null" >
        sdate = #{sdate,jdbcType=VARCHAR},
      </if>
      <if test="edate != null" >
        edate = #{edate,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="haue.edu.cn.model.ExamInfo" >
    update oe_exam_info
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      sdate = #{sdate,jdbcType=VARCHAR},
      edate = #{edate,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<update id="updateMore" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update oe_exam_info
			<set>
				score = #{item.score,jdbcType=INTEGER},			
			</set>
			where uid = #{item.uid,jdbcType=INTEGER} AND pid= #{item.pid,jdbcType=INTEGER}
		</foreach>

	</update>
  
  
</mapper>