<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haue.edu.cn.dao.ExamDetailMapper" >
  <resultMap id="BaseResultMap" type="haue.edu.cn.model.ExamDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="qid" property="qid" jdbcType="INTEGER" />
    <result column="user_answer" property="userAnswer" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="qtype" property="qtype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, pid, qid, user_answer, status, score, remark, qtype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oe_exam_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oe_exam_detail
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oe_exam_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="haue.edu.cn.model.ExamDetail" >
    insert into oe_exam_detail (id, uid, pid, 
      qid, user_answer, status, 
      score, remark, qtype
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{qid,jdbcType=INTEGER}, #{userAnswer,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{qtype,jdbcType=INTEGER}
      )
  </insert>
	<insert id="insertMore" parameterType="java.util.List">
		insert into oe_exam_detail (id, uid, pid,
		qid, user_answer, status,
		score, remark, qtype
		)
		values

		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id,jdbcType=INTEGER}, #{item.uid,jdbcType=INTEGER},
			#{item.pid,jdbcType=INTEGER},
			#{item.qid,jdbcType=INTEGER}, #{item.userAnswer,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR},
			#{item.score,jdbcType=INTEGER}, #{item.remark,jdbcType=VARCHAR},
			#{item.qtype,jdbcType=INTEGER}
			)
		</foreach>
	</insert>
  <insert id="insertSelective" parameterType="haue.edu.cn.model.ExamDetail" >
    insert into oe_exam_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="qid != null" >
        qid,
      </if>
      <if test="userAnswer != null" >
        user_answer,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="qtype != null" >
        qtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="qid != null" >
        #{qid,jdbcType=INTEGER},
      </if>
      <if test="userAnswer != null" >
        #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="qtype != null" >
        #{qtype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="haue.edu.cn.model.ExamDetail" >
    update oe_exam_detail
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="qid != null" >
        qid = #{qid,jdbcType=INTEGER},
      </if>
      <if test="userAnswer != null" >
        user_answer = #{userAnswer,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="qtype != null" >
        qtype = #{qtype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="haue.edu.cn.model.ExamDetail" >
    update oe_exam_detail
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      qid = #{qid,jdbcType=INTEGER},
      user_answer = #{userAnswer,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      qtype = #{qtype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>