<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="haue.edu.cn.dao.QuestionDBMapper">
  <resultMap id="BaseResultMap" type="haue.edu.cn.model.QuestionDB">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="adminid" jdbcType="INTEGER" property="adminid" />
    <result column="cdate" jdbcType="VARCHAR" property="cdate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dname, remark, adminid, cdate, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oe_question_db
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oe_question_db
  </select>
      <select id="selectByCondition"  resultMap="BaseResultMap" parameterType="haue.edu.cn.model.QuestionDB">
    select 
    <include refid="Base_Column_List" />
    from oe_question_db
    <where>
			<if test="dname != null">
				and dname like '%' #{dname,jdbcType=VARCHAR} '%'
			</if>
	</where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oe_question_db
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="haue.edu.cn.model.QuestionDB">
    insert into oe_question_db (id, dname, remark, 
      adminid, cdate, status
      )
    values (#{id,jdbcType=INTEGER}, #{dname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{adminid,jdbcType=INTEGER}, #{cdate,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="haue.edu.cn.model.QuestionDB">
    insert into oe_question_db
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dname != null">
        dname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="adminid != null">
        adminid,
      </if>
      <if test="cdate != null">
        cdate,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adminid != null">
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="haue.edu.cn.model.QuestionDB">
    update oe_question_db
    <set>
      <if test="dname != null">
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adminid != null">
        adminid = #{adminid,jdbcType=INTEGER},
      </if>
      <if test="cdate != null">
        cdate = #{cdate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="haue.edu.cn.model.QuestionDB">
    update oe_question_db
    set dname = #{dname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      adminid = #{adminid,jdbcType=INTEGER},
      cdate = #{cdate,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>