<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haue.edu.cn.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="haue.edu.cn.model.Question" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dbid" property="dbid" jdbcType="INTEGER" />
    <result column="qtype" property="qtype" jdbcType="INTEGER" />
    <result column="qlevel" property="qlevel" jdbcType="INTEGER" />
    <result column="qfrom" property="qfrom" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="optionA" property="optiona" jdbcType="VARCHAR" />
    <result column="optionB" property="optionb" jdbcType="VARCHAR" />
    <result column="optionC" property="optionc" jdbcType="VARCHAR" />
    <result column="optionD" property="optiond" jdbcType="VARCHAR" />
    <result column="postdate" property="postdate" jdbcType="TIMESTAMP" />
    <result column="adminid" property="adminid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="haue.edu.cn.model.QuestionWithBLOBs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="skey" property="skey" jdbcType="LONGVARCHAR" />
    <result column="keydesc" property="keydesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dbid, qtype, qlevel, qfrom, status, optionA, optionB, optionC, optionD,postdate,  
    adminid
  </sql>
  <sql id="Blob_Column_List" >
    content, skey, keydesc
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oe_question
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="ResultMapWithBLOBs"  >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oe_question
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oe_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="haue.edu.cn.model.QuestionWithBLOBs" >
    insert into oe_question (id, dbid, qtype, 
      qlevel, qfrom, status, 
      optionA, optionB, optionC, 
      optionD, postdate, adminid, 
      content, skey, keydesc
      )
    values (#{id,jdbcType=INTEGER}, #{dbid,jdbcType=INTEGER}, #{qtype,jdbcType=INTEGER}, 
      #{qlevel,jdbcType=INTEGER}, #{qfrom,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{optiona,jdbcType=VARCHAR}, #{optionb,jdbcType=VARCHAR}, #{optionc,jdbcType=VARCHAR}, 
      #{optiond,jdbcType=VARCHAR}, #{postdate,jdbcType=TIMESTAMP}, #{adminid,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR}, #{skey,jdbcType=LONGVARCHAR}, #{keydesc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="haue.edu.cn.model.QuestionWithBLOBs" >
    insert into oe_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dbid != null" >
        dbid,
      </if>
      <if test="qtype != null" >
        qtype,
      </if>
      <if test="qlevel != null" >
        qlevel,
      </if>
      <if test="qfrom != null" >
        qfrom,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="optiona != null" >
        optionA,
      </if>
      <if test="optionb != null" >
        optionB,
      </if>
      <if test="optionc != null" >
        optionC,
      </if>
      <if test="optiond != null" >
        optionD,
      </if>
      <if test="postdate != null" >
        postdate,
      </if>
      <if test="adminid != null" >
        adminid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="skey != null" >
        skey,
      </if>
      <if test="keydesc != null" >
        keydesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dbid != null" >
        #{dbid,jdbcType=INTEGER},
      </if>
      <if test="qtype != null" >
        #{qtype,jdbcType=INTEGER},
      </if>
      <if test="qlevel != null" >
        #{qlevel,jdbcType=INTEGER},
      </if>
      <if test="qfrom != null" >
        #{qfrom,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="optiona != null" >
        #{optiona,jdbcType=VARCHAR},
      </if>
      <if test="optionb != null" >
        #{optionb,jdbcType=VARCHAR},
      </if>
      <if test="optionc != null" >
        #{optionc,jdbcType=VARCHAR},
      </if>
      <if test="optiond != null" >
        #{optiond,jdbcType=VARCHAR},
      </if>
      <if test="postdate != null" >
        #{postdate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminid != null" >
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="skey != null" >
        #{skey,jdbcType=LONGVARCHAR},
      </if>
      <if test="keydesc != null" >
        #{keydesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="haue.edu.cn.model.QuestionWithBLOBs" >
    update oe_question
    <set >
      <if test="dbid != null" >
        dbid = #{dbid,jdbcType=INTEGER},
      </if>
      <if test="qtype != null" >
        qtype = #{qtype,jdbcType=INTEGER},
      </if>
      <if test="qlevel != null" >
        qlevel = #{qlevel,jdbcType=INTEGER},
      </if>
      <if test="qfrom != null" >
        qfrom = #{qfrom,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="optiona != null" >
        optionA = #{optiona,jdbcType=VARCHAR},
      </if>
      <if test="optionb != null" >
        optionB = #{optionb,jdbcType=VARCHAR},
      </if>
      <if test="optionc != null" >
        optionC = #{optionc,jdbcType=VARCHAR},
      </if>
      <if test="optiond != null" >
        optionD = #{optiond,jdbcType=VARCHAR},
      </if>
      <if test="postdate != null" >
        postdate = #{postdate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminid != null" >
        adminid = #{adminid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="skey != null" >
        skey = #{skey,jdbcType=LONGVARCHAR},
      </if>
      <if test="keydesc != null" >
        keydesc = #{keydesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="haue.edu.cn.model.QuestionWithBLOBs" >
    update oe_question
    set dbid = #{dbid,jdbcType=INTEGER},
      qtype = #{qtype,jdbcType=INTEGER},
      qlevel = #{qlevel,jdbcType=INTEGER},
      qfrom = #{qfrom,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      optionA = #{optiona,jdbcType=VARCHAR},
      optionB = #{optionb,jdbcType=VARCHAR},
      optionC = #{optionc,jdbcType=VARCHAR},
      optionD = #{optiond,jdbcType=VARCHAR},
      postdate = #{postdate,jdbcType=TIMESTAMP},
      adminid = #{adminid,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      skey = #{skey,jdbcType=LONGVARCHAR},
      keydesc = #{keydesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="haue.edu.cn.model.Question" >
    update oe_question
    set dbid = #{dbid,jdbcType=INTEGER},
      qtype = #{qtype,jdbcType=INTEGER},
      qlevel = #{qlevel,jdbcType=INTEGER},
      qfrom = #{qfrom,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      optionA = #{optiona,jdbcType=VARCHAR},
      optionB = #{optionb,jdbcType=VARCHAR},
      optionC = #{optionc,jdbcType=VARCHAR},
      optionD = #{optiond,jdbcType=VARCHAR},
      postdate = #{postdate,jdbcType=TIMESTAMP},
      adminid = #{adminid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>